# Autoriser l'accès aux images
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order allow,deny
    Allow from all
</FilesMatch>

# Empêcher l'exécution de scripts PHP
<FilesMatch "\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

